footer {
  padding-top: 115px;
  background: var(--second-color);
  .footer_content {
    h5 {
      font-weight: 600px;
      color: var(--white);
      margin-bottom: 55px;
    }
    p {
      width: 295px;
      color: var(--white);
      margin-bottom: 35px;
    }
    ul {
      li {
        color: var(--white);
        & + li {
          margin-top: 8px;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}
