body {
  font-family: var(--font);
}

.container {
  max-width: 1170px !important;
  margin: auto;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: 16px;
  color: var(--p-color);
}
.red_color {
  color: var(--primary-color);
}
.red_bg {
  background: var(--primary-color);
}
.black_color {
  color: var(--secondary-color);
}
.black_bg {
  background: var(--secondary-color);
}
.white_color {
  color: var(--white);
}

select {
  border: none;
  background-color: transparent;
  option {
    cursor: pointer;
    &:hover {
      background-color: var(--primary-color) !important;
    }
    &:focus-visible {
      outline: none !important;
    }
  }
}
select:focus {
  box-shadow: none;
}

.img {
  overflow: hidden;
  img {
    transition: var(--transition);
    &:hover {
      transform: scale(1.1);
    }
  }
}

.common_title {
  p {
    color: var(--primary-color);
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 700;
    text-transform: capitalize;
  }
}

.common_title1 {
  p {
    color: var(--primary-color);
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
  }
}

.slider-spacing {
  .slick-list {
    margin: 0 -12px;
    .slick-slide {
      margin: 0 12px;
    }
  }
}
