body {
  font-family: var(--font);
<<<<<<< Updated upstream
}

.container {
  max-width: 1170px !important;
  margin: auto;
}
=======
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  font-family: var(--font);
  color: var(--secondary-color);
}

.h1,
>>>>>>> Stashed changes
h1 {
  font-size: 72px;
  line-height: 80px;
  @include screen-768  {
    font-size: 50px;
    line-height: 1.2em;
  }
  @include portrait-phone {
    font-size: 40px;
  }
}
.h2,
h2 {
  font-size: 48px;
  line-height: 66px;
  @include screen-768 {
    font-size: 42px;
    line-height: 1.2em;
  }
  @include portrait-phone {
    font-size: 36px;
  }
}
.h3,
h3 {
  font-size: 36px;
  line-height: 54px;
  @include portrait-phone {
    font-size: 30px;
    line-height: 1.2em;
  }
}

.h4,
h4 {
  font-size: 30px;
  line-height: 36px;
}

.h5,
h5 {
  font-size: 24px;
  line-height: 28px;
}
.h6,
h6 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
  line-height: 30px;
}

.fs-24 {
  font-size: 24px;
  line-height: 36px;
}
.fw-5 {
  font-weight: 500;
}
p {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
}
input {
  &:focus {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
  }
}
.form-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none !important;
}
textarea {
  &::-webkit-resizer {
    border-right: 15px solid var(--primary-color);
    border-top: 15px solid transparent;
  }
  &:focus-visible {
    outline: 0px;
    border: none !important;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
p {
  font-size: 16px;
  color: var(--p-color);
}
.red_color {
  color: var(--primary-color);
}
.red_bg {
  background: var(--primary-color);
}
.black_color {
  color: var(--second-color);
}
.black_bg {
  background: var(--second-color);
}
.white_color {
  color: var(--white);
}

select {
  border: none;
  background-color: transparent;
  option {
    cursor: pointer;
    &:hover {
      background-color: var(--primary-color) !important;
    }
    &:focus-visible {
      outline: none !important;
    }
  }
}
select:focus {
  box-shadow: none;
}

.red_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  position: relative;
  z-index: 1;
  font-weight: 500;
  &:hover::before {
    width: 100%;
  }
  &::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: var(--second-color);
    left: 0;
    top: 0;
    transition: var(--transition);
  }
}

.img {
  overflow: hidden;
  img {
    transition: var(--transition);
    &:hover {
      transform: scale(1.1);
    }
  }
}

.common_title {
  p {
    color: var(--primary-color);
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 700;
    text-transform: capitalize;
  }
}
