// Google Font
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: #ea062b;
  --second-color: #111111;
  --secondary-color: #111111;
  --white: #fff;
  --gray: #e7e7e7;
  --yellow: #ffc92e;
  --transition: all 0.3s ease-in;
  --font: "Jost", sans-serif;
  --p-color: #666666;
  --border-color: #6d6d6d;
  --transition_base: .3s;
}
