.km__form__content{
  background: var(--primary-color);
  padding: 35px 30px;
}

.km__addresa{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
  i{
      color: var(--white);
  }
  span{
      font-size: 18px;
      line-height: 26px;
      text-transform: capitalize;
      color: var(--white);
      font-weight: 600;
  }
}

.km__form__content{
  .sub__title{
      color: var(--white);
      font-weight: 700;
      line-height: 28px;
      font-size: 18px;
      text-transform: capitalize;
  }
  p{
      color: #f1f1f1;;
  }
}

.sub_slider{
  width: 500px;
}

//  .sub_slider{
//   position: relative;
//   border: 1px solid transparent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .slick-active{
//     img{
//       border: 1px solid var(--primary-color);
//       border-radius: 50%;
//     }
//   }
//   .prev-arrow,
//   .next-arrow{
//     position: absolute;
//     right: 0;
//     bottom: 0px;
//     height: 40px;
//     width: 40px;
//     background: var(--secondary-color);
//     border-radius: 50%;
//     color: var(--white);
//     font-size: 14px;
//     border: none;
//     z-index: 10;
//     &:hover{
//       background: var(--primary-color);
//     }
//   }
//   .prev-arrow{
//     right: 50px;
// //   }
//  }

 .km__map{
  overflow: hidden;
  margin-bottom: -15px;
  iframe{
    width: 100%;
    height: 460px;
  }
 }



