/******************km__contact__form******************/
.km__contact__form{
  padding: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 13px 38px 0px rgba(28, 28, 28, 0.15);
}

form{
  input{
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding:20px;
      background: #f1f1f1;
      border: none;
      text-transform: capitalize;
      border: 1px solid transparent;
      &:focus{
          background: transparent;
          border: 1px solid #f1f1f1;
      }
  }
  textarea{
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
      background: #f1f1f1;
      border: none;
      padding:20px;
      text-transform: capitalize;
  }
  
}

.km__form__content{
  background: var(--primary-color);
  padding: 35px 30px;
}

.km__addresa{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
  i{
      color: var(--white);
  }
  span{
      font-size: 18px;
      line-height: 26px;
      text-transform: capitalize;
      color: var(--white);
      font-weight: 600;
  }
}

.km__form__content{
  .sub__title{
      color: var(--white);
      font-weight: 700;
      line-height: 28px;
      font-size: 18px;
      text-transform: capitalize;
  }
  p{
      color: #f1f1f1;;
  }
}


 .sub_slider{
  position: relative;
  border: 1px solid transparent;
  .slick-active{
    img{
      border: 1px solid var(--primary-color);
      border-radius: 50%;
    }
  }
  .prev-arrow,
  .next-arrow{
    position: absolute;
    right: 0;
    top: 15px;
    height: 40px;
    width: 40px;
    background: var(--secondary-color);
    border-radius: 50%;
    color: var(--white);
    font-size: 14px;
    border: none;
    z-index: 10;
    &:hover{
      background: var(--primary-color);
    }
  }
  .prev-arrow{
    right: 50px;
  }
 }


 /**************************write__comments__form********************************/
 .write__comment__form{
    form{
      input{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 81px 0px rgba(0, 0, 0, 0.09);
        margin-bottom: 20px;
        padding: 13px;
        color: #8c8c8c;
        font-weight: 400;
        text-transform: capitalize;
        &:focus{
          background: #F1F1F1;
        }
      }
      textarea{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 81px 0px rgba(0, 0, 0, 0.09);
        margin-bottom: 20px;
        padding: 13px;
        color: #8c8c8c;
        font-weight: 400;
        text-transform: capitalize;
        &:focus{
          background: #F1F1F1;
          outline: none;
        }
      }
    }
 }

