/**************************donate__form***********************/
.donate__form{
    border: 1px solid var(--border-color);
    padding: 30px;
}
.current{
    padding: 0;
    box-shadow: none;
    &:focus{
        background: red;
    }
}
.km__nice__select{
    border: 1px solid var(--border-color);
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.nice-select{
    width: 100%;
    float: none;
    .list{
        width: 100%;
    }
    &:focus{
        border: 1px solid var(--primary-color);
    }
}