/*****************website__title***********************/
.website__title{
    h2{
        span{
            font-size: 16px;
            font-weight: 500;
            color: var(--primary-color);
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    }
}

/*********************accordion*******************************/
.km__submit__section{
    background: #f9f9f9;
}